.DS_Store
Figures/__pycache__
Module_2.6_SNN-MPR_Comparison_visualize_activity_.ipynb
Module_2.7_SNN-MPR_Comparison_trj_classification_mistral.ipynb
Module_2.7_SNN-MPR_Comparison_trj_classification.ipynb
Module_2.8_SNN-MPR_Comparison_param_distributions.ipynb